@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/perro1menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #ec6e2f;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ec6e2f;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
}

.header-txt h1{
    font-size: 45px;
    color: #ec6e2f;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header-txt p{
    text-align: left;
    color: #f0b942;
    font-size: 16px;
    padding: 0 250px;
    margin-bottom: 45px;
}

.btn-1{
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #ec6e2f;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover{
    color: #ec6e2f;
    background-color: #ffffff;
    transition: 0.5s;
}

.general {
    padding: 50px 0;
    text-align: center;
}

.general-content {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.general-1{
    background-image: url(images/m1.png);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-2 {
    background-image: url(images/m2.png);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-3 {
    background-image: url(images/m3.png);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}
.general-4{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-5{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-6{
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: #18293A;
}

.txt h3 {
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.txt p {
    font-size: 16px;
    color: #EBEBEB;
}

.info-1 {
    padding: 250px 0;
    background-image: url(images/b3.png);
    clip-path: polygon(0 5%, 100% 15%, 100% 90%, 0 81%);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.info-content {
    text-align: center;
}

.info-content h2 span {
  color: #FFFDFC;
}

.info-circle {
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}

.circle-txt{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.circle-1 {
    height: 100px;
    width: 100px;
    border: 1px solid #FFFDFC;
    border-radius: 50%;
    padding-top: 35px;
}

.circle-1 h3 {
    color: #EBEBEB;
    font-size: 16px;
}

.circle-txt p {
    color: #FFFDFC;
    margin-top: 20px;
}